.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0 10px;
  transition: visibility 0.3s, opacity 0.4s;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  padding: 36px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container_type_preview {
  padding: 0;
  max-width: none;
  width: auto;
  background: none;
  display: inline-block;
}

.modal__image {
  display: block;
  width: auto;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  background-color: #212121;
  color: #fff;
  display: inline-block;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  padding: 4px 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/exit-button.svg);
  opacity: 0.4;
  border: none;
  background-color: transparent;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  background: transparent url(../images/Close-icon-preview.svg) center no-repeat;
  opacity: 1;
  top: 0;
  right: -52.5px;
  padding: 0;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  color: #212121;
  line-height: 1;
  font-weight: 500;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  padding: 0;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  line-height: 17.6px;
  font-weight: 500;
}

.modal__input {
  margin: 0;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  line-height: 1;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 58px;
  border-radius: 8px;
  background-color: #212121;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin: 10px 0 34px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__input {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-btn_type_preview {
    right: 0;
    top: -30px;
  }

  .modal__image {
    max-width: 90vw;
  }
}
