.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__edit {
  margin-top: auto;
  border: none;
  background-color: transparent;
  opacity: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 0;
  font-family: poppins, Arial, Helvetica, sans-serif;
  color: #212121;
}

.profile__edit:hover {
  opacity: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.profile__button {
  margin-top: auto;
  margin-left: auto;
  border-radius: 8px;
  border: none;
  width: 149px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.profile__button:hover {
  opacity: 80%;
  transition: 0.5s;
}

.profile__button-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    padding-top: 0;
  }

  .profile__column {
    margin: 0;
  }

  .profile__title {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__button {
    width: 100%;
  }

  .profile__edit {
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
